body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #434455;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
  line-height: 1.17;
}
.logo-header > .logo-part {
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
}

.header-contacts {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.maim-title {
  background-color: #2e2f42;
}
.title {
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  line-height: 1.07;
}
.title-button {
  background: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}
.title-button:active {
  background-color: #31d0aa;
}
.button-text {
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
}

.goal-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
}
.goal-subtitle {
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
}
.goal-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}

.section-team {
  background-color: #f4f4fd;
}
.team-list {
  background-color: #ffffff;
}
.team-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  line-height: 1.11;
}
.team-subtitle {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  line-height: 1.11;
}

.portfolio-list {
  background-color: #ffffff;
}
.portfolio-subtitle {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.logo-footer .logo-part {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
